# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
#run
run/client/saves
run/client/user*
run/client/logs
#runs
#run-data

repo
